/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
  color: var(--primary-font);
  text-decoration: none;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* CSS Variables */
:root {
  --primary-font: #fff;
  --bg-color: #333;
  --roboto: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Main container of page */
.container {
  min-width: 22.5em;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-scroll-behavior: smooth;
  -webkit-scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
  -webkit-scroll-snap-align: center;
}

/* Header Section */
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-section .logo > a > img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

.header-section .logo > a:hover > img {
  transform: scale(1.1);
}

/* Header - Burger Menu Icon Styles */

.header-section .burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-section .burger-menu:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.header-section .burger-menu > div {
  content: "";
  position: absolute;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.header-section .burger-menu:after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Header - Burger Menu Icon Styles (Toggle click) */
.header-section.active .burger-menu:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header-section.active .burger-menu > div {
  display: none;
}

.header-section.active .burger-menu:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Burger-menu Section Hidden by Default */
.burger-menu-section {
  display: none;
}

/* Showcase Section */
.showcase-section {
  position: relative;
  padding: 20px;
  height: 100vh;
}

.showcase-section .showcase-content-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 95vh;
}

.showcase-section .showcase-content-flexbox .video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showcase-section .showcase-content-flexbox .video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.showcase-section .showcase-content-flexbox .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}

.showcase-section .showcase-content-flexbox .slogan {
  z-index: 10;
}

.showcase-section .showcase-content-flexbox .slogan > p {
  font-size: 28px;
  color: var(--primary-font);
  line-height: 1.2;
  padding-bottom: 25px;
  transition: 0.5s;
}

.showcase-section .showcase-content-flexbox .slogan > p:hover {
  transform: rotate(-2deg);
}

.showcase-section .showcase-content-flexbox .slogan > h1 {
  width: 85%;
  font-size: 50px;
  color: var(--primary-font);
  line-height: 1.2;
  padding-bottom: 20px;
  transition: 0.5s;
}

.showcase-section .showcase-content-flexbox .slogan > h1:hover {
  transform: rotate(2deg);
}

.showcase-section .showcase-content-flexbox .social-medias {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
}

.showcase-section .showcase-content-flexbox .social-medias > a {
  margin-bottom: 35px;
  width: 25px;
  height: 25px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

.showcase-section .showcase-content-flexbox .social-medias .github-logo {
  background: url("assets/github-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .twitter-logo {
  background: url("assets/twitter-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .ig-logo {
  background: url("assets/ig-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .linkedin-logo {
  background: url("assets/linkedin-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .github-logo:hover,
.showcase-section .showcase-content-flexbox .social-medias .twitter-logo:hover,
.showcase-section .showcase-content-flexbox .social-medias .ig-logo:hover,
.showcase-section
  .showcase-content-flexbox
  .social-medias
  .linkedin-logo:hover {
  transform: scale(1.3);
}

/* Showcase - Scroll Down button styles  */
.showcase-section .flexbox {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.showcase-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

/* Projects Section */
.project-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section h1 {
  margin: 10px 0 40px;
}

.project-section .project-container {
  background: rgb(221, 213, 213, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}

.project-section .project-container img {
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  padding: 10px;
}

.project-section .project-container-2 {
  width: 90%;
  margin: 10px 20px;
}

.project-section .project-container-2 h1 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 0 20px;
  text-align: right;
}

.project-section .project-container-2 p {
  padding: 0 15px;
  line-height: 1.6;
  font-weight: 600;
}

.project-section .project-container-2 div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.project-section .project-container-2 div > a {
  width: 25px;
  height: 25px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
  margin: 0 10px;
}

.project-section .project-container-2 div .github-logo {
  background: url("assets/github-logo.svg");
  background-size: contain;
}

.project-section .project-container-2 div .external-logo {
  background: url("assets/external-logo.svg");
  background-size: contain;
}

.project-section .project-container-2 div .ref-logo {
  background: url("assets/ref-logo.svg");
  background-size: contain;
}

.project-section .project-container-2 div .github-logo:hover,
.project-section .project-container-2 div .external-logo:hover,
.project-section .project-container-2 div .ref-logo:hover {
  transform: rotate(7deg);
}

/* Project-section - Scroll Down button styles  */
.project-section .flexbox {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
  top: 15%;
}

.project-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 20px;
}

/* Skills Section */
.skills-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section h1 {
  margin: 10px 85px 40px;
  text-align: center;
}

.skills-section .skills-container {
  background: rgb(221, 213, 213, 0.7);
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.skills-section .skills-container a {
  width: 60px;
  height: 60px;
  display: inline-block;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
  margin: 0 10px;
}

.skills-section .skills-container .git-logo {
  background: url("assets/git-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .css-logo {
  background: url("assets/css3-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .mysql-logo {
  background: url("assets/mysql-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .python-logo {
  background: url("assets/python-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .vue-logo {
  background: url("assets/vue-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .html-logo {
  background: url("assets/html-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .sass-logo {
  background: url("assets/sass-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .js-logo {
  background: url("assets/js-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .figma-logo {
  background: url("assets/figma-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .wp-logo {
  background: url("assets/wp-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .shopify-logo {
  background: url("assets/shopify-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .react-logo {
  background: url("assets/react-logo.svg") no-repeat center center/contain;
}

.skills-section .skills-container .git-logo:hover {
  transform: rotate(-7deg);
}

.skills-section .skills-container > div > p {
  text-align: center;
  padding-top: 10px;
}

/* Skills-section - Scroll Down button styles  */
.skills-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
  top: 15%;
}

.skills-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 20px;
}

/* Contact Us Section */
.contact-us-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-section .contact-us-container {
  background: rgb(221, 213, 213, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}

.contact-us-section .contact-us-container div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact-us-section .contact-us-container div .form-container {
  /* margin: 20px; */
}

/* Contact Us - Scroll Down button styles  */
.contact-us-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
  top: 15%;
}

.contact-us-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 20px;
}

/* Footer */

footer {
  position: relative;
  z-index: 10;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: 13px;
}
