/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
  color: var(--primary-font);
  text-decoration: none;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* CSS Variables */
:root {
  --primary-font: #fff;
  --bg-color: #333;
  --roboto: "Roboto", sans-serif;
}

/* Main container of page */
.container {
  min-width: 22.5em;
  height: 100vh;
}

/* Header Section */
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-section .logo > a > img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
}

/* Header - Burger Menu Icon Styles */

.header-section .burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-section .burger-menu:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.header-section .burger-menu > div {
  content: "";
  position: absolute;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.header-section .burger-menu:after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Header - Burger Menu Icon Styles (Toggle click) */
.header-section.active .burger-menu:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header-section.active .burger-menu > div {
  display: none;
}

.header-section.active .burger-menu:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Burger-menu Section Hidden by Default */
.burger-menu-section {
  display: none;
}

/* Showcase Section */
.showcase-section {
  position: relative;
  padding: 20px;
  height: 100vh;
}

.showcase-section .showcase-content-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 95vh;
}

.showcase-section .showcase-content-flexbox .video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase-section .showcase-content-flexbox .video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.showcase-section .showcase-content-flexbox .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}

.showcase-section .showcase-content-flexbox .slogan {
  z-index: 10;
}

.showcase-section .showcase-content-flexbox .slogan > p {
  font-size: 28px;
  color: var(--primary-font);
  line-height: 1.2;
  padding-bottom: 25px;
}

.showcase-section .showcase-content-flexbox .slogan > h1 {
  width: 85%;
  font-size: 50px;
  color: var(--primary-font);
  line-height: 1.2;
  padding-bottom: 20px;
}

.showcase-section .showcase-content-flexbox .social-medias {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65%;
}

.showcase-section .showcase-content-flexbox .social-medias > a {
  margin-bottom: 35px;
  width: 25px;
  height: 25px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%);
}

.showcase-section .showcase-content-flexbox .social-medias .github-logo {
  background: url("assets/github-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .twitter-logo {
  background: url("assets/twitter-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .ig-logo {
  background: url("assets/ig-logo.svg");
  background-size: contain;
}

.showcase-section .showcase-content-flexbox .social-medias .linkedin-logo {
  background: url("assets/linkedin-logo.svg");
  background-size: contain;
}

/* Showcase - Scroll Down button styles  */
.showcase-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.showcase-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

/* Projects Section */
.project-section {
  position: relative;
  height: 100vh;
}

.project-section .project-background-section {
  padding: 20px;
  height: 95vh;
  background: rgb(16, 16, 16, 0.8);
  clip-path: polygon(0 13%, 100% 11%, 100% 88%, 0 90%);
}

.project-section .project-background-section h1 {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  top: 15%;
  left: 20%;
  transform: translate(-20%, -15%);
  padding-top: 20px;
}

.project-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 20px;
  width: 100%;
}

.project-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

/* Skills Section */
.skills-section {
  position: relative;
  height: 100vh;
}

.skills-section .skills-background-section {
  padding: 20px;
  height: 95vh;
  background: rgb(16, 16, 16, 0.8);
  clip-path: polygon(0 13%, 100% 11%, 100% 88%, 0 90%);
}

.skills-section .skills-background-section h1 {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  top: 15%;
  transform: translateY(-15%);
  text-align: center;
  padding-top: 20px;
}

.skills-section .skills-background-section .skill-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.skills-section .skills-background-section .skill-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-section .skills-background-section .skill-grid > div > img {
  width: 85%;
  height: 85%;
  display: block;
  margin: 0 auto;
}

.skills-section .skills-background-section .skill-grid > div > span {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.skills-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 20px;
  width: 100%;
}

.skills-section .flexbox .scroll-down {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

/* Contact Us Section */

.contact-us-section {
  position: relative;
  height: 100vh;
}

.contact-us-section .contact-us-background-section {
  padding: 20px;
  height: 95vh;
  background: rgb(16, 16, 16, 0.8);
  clip-path: polygon(0 13%, 100% 11%, 100% 88%, 0 90%);
}

.contact-us-section .contact-us-background-section h1 {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  top: 15%;
  transform: translateY(-15%);
  text-align: center;
  padding-top: 20px;
}

/* .contact-us-section .contact-us-background-section p {

} */

.contact-us-section .contact-us-background-section .form-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

.contact-us-section .contact-us-background-section input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 16px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  transition: 0.3s ease-in-out;
}

.contact-us-section .contact-us-background-section textarea {
  resize: none;
  margin-bottom: 30px;
}

.contact-us-section .contact-us-background-section input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8), 1px 13px 10px rgba(0, 0, 0, 0.8);
}

.contact-us-section .contact-us-background-section button {
  background: rgba(73, 72, 72, 0.9);
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 10px 12px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1em;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact-us-section .contact-us-background-section button:hover {
  background: rgba(88, 87, 87, 0.9);
}

.contact-us-section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 20px;
  width: 100%;
}

.contact-us-section .flexbox .back-to-top {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

/* Footer */

footer {
  position: relative;
  z-index: 10;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: 17.5px;
}
